.dashboard {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    min-height: calc(100vh - 156px);


  }
  
  .usersContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  
  .userCardWrapper {
    position: relative;
  }
  
  .moreButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: relative;
  }
  
  .modal {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .modalContent {
    display: flex;
    flex-direction: column;
  }
  
  .modalOption {
    background: none;
    border: none;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    width: 100%;
  }
  
  .modalOption:hover {
    background-color: #f0f0f0;
  }
  
  
  .userField {
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  h1 {
    text-align: center;
  }
  